@model ICollection<GreenHouse.Models.Plant>

@{
    ViewData["Title"] = "All Right Boy, keep going";
}

<div class="text-center">
    <h1 class="display-4">@Model.Count Plants.</h1>
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Atual Temperatura</th>
                    <th>Nível Para Atualizar</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.Id</td>
                        <td>@s.Name</td>
                        <td>@s.SensorValue</td>
                        <td>@s.SensorUpdate.ToShortDateString()</td>
                    </tr>
                }
        </tbody>
        </table>
</div>