@model ICollection<EFTeste.Models.Student>

@{
    ViewData["Title"] = "All Right Boy, keep going";
}



<div class="text-center">
    <h1 class="display-4">@Model.Count estudantes.</h1>

    <a asp-controller="Home" asp-action="Create">Novo</a>
        <table class="table table-responsive table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Data matrícula</th>
                    <th>Excluir</th>
                    <th>Atualizar</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.ID</td>
                        <td>@s.FirstMidName</td>
                        <td>@s.LastName</td>
                        <td>@s.EnrollmentDate.ToShortDateString()</td>
                        <td>
                            <form asp-controller="Home" asp-action="Delete"
                            method="post">
                        <input type="hidden" name="id" value="@s.ID" />
                        <button type="submit"
                            class="btn btn-danger btn-sm" >
                            Excluir
                        </button>
                        </form>

                        <form asp-controller="Home" asp-action="Update"
                              method="post">
                            <input type="hidden" name="id" value="@s.ID" />
                            <button type="submit"
                                    class="btn btn-danger btn-sm">
                                Atualizar
                            </button>
                        </form>
                        </td>
                    </tr>
                }
        </tbody>
        </table>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

